nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #F49097;
    padding: 20PX 80PX;
    box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.06);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
   list-style: none ; 
   padding: 0 20px;
   position: relative;
   justify-content: space-between;
}

#navbar li a{
    text-decoration:none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #EFF7F6;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover{
    color: #F5E960;
}
#navbar li:active{
    color: #F5E960;
}


#navbar li a:hover::after
#navbar li a.active::after{
    content: "";
    width: 60%;
    height: 2px;
    background: #F5E960;
    position: absolute;
    bottom: -4px;
    left: 20px
}
